<template>
    <v-app>
        <default-layout-sidebar :clipped="clipped" />

        <default-layout-app-bar :clipped="clipped">
            <slot name="header" />
        </default-layout-app-bar>

        <v-main>
            <v-container fluid>
                <slot />
            </v-container>
        </v-main>
    </v-app>
</template>

<script>
import DefaultLayoutAppBar from './DefaultLayoutAppBar'
import DefaultLayoutSidebar from './Sidebar/DefaultLayoutSidebar'

export default {
    name: 'DefaultLayout',
    components: {DefaultLayoutSidebar, DefaultLayoutAppBar},
    data() {
        return {
            clipped: false
        }
    }
}
</script>
