<template>
    <v-app-bar color="primary" :clipped-left="clipped" fixed app>
        <div v-if="hasSlot" class="w-100">
            <slot />
        </div>

        <v-toolbar-title v-else v-text="$t('appName')" />
    </v-app-bar>
</template>

<script>
export default {
    name: 'DefaultLayoutAppBar',
    props: {
        clipped: {
            type: Boolean,
            required: true
        }
    },
    data() {
        return {
            hasSlot: false
        }
    },
    methods: {
        checkSlot() {
            this.hasSlot = this.$slots.default?.[0]
        }
    },
    created() {
        this.checkSlot()
    },
    beforeUpdate() {
        this.checkSlot()
    }
}
</script>

<style lang="scss" scoped>
::v-deep .v-toolbar__content {
    color: #FFFFFF;
}
</style>
