<template>
    <div class="d-flex align-center mt-4 mx-2">
        <div>
            <v-img :src="logo.img" width="40" class="mx-auto" />
        </div>

        <v-fade-transition>
            <v-img v-if="!miniVariantStatus" :src="logo.text" max-width="80" class="ml-2 mr-auto" contain />
        </v-fade-transition>
    </div>
</template>

<script>
export default {
    name: 'DefaultLayoutSidebarLogo',
    props: {
        miniVariantStatus: {
            type: Boolean,
            required: true
        }
    },
    data() {
        return {
            logo: {
                img: require('@/assets/img/layout/sidebar-logo.svg'),
                text: require('@/assets/img/layout/sidebar-logo-text.svg')
            }
        }
    }
}
</script>
