<template>
    <v-navigation-drawer @update:mini-variant="variantUpdated" color="accent" :mini-variant.sync="miniVariant" :clipped="clipped" expand-on-hover fixed app>
        <default-layout-sidebar-logo :mini-variant-status="miniVariantStatus" />
        <default-layout-sidebar-items class="mt-4" :items="items.top" />

        <template v-slot:append>
            <default-layout-sidebar-items :items="items.bottom" />
        </template>
    </v-navigation-drawer>
</template>

<script>
import Items from '~/data/sidebarItems'
import DefaultLayoutSidebarItems from './DefaultLayoutSidebarItems'
import DefaultLayoutSidebarLogo from './DefaultLayoutSidebarLogo'

export default {
    name: 'DefaultLayoutSidebar',
    components: {DefaultLayoutSidebarLogo, DefaultLayoutSidebarItems},
    props: {
        clipped: {
            type: Boolean,
            required: true
        }
    },
    data() {
        return {
            miniVariant: true,
            miniVariantStatus: true,
            hoverStatus: false,
            items: {
                top: Items(this.$i18n).top(),
                bottom: Items(this.$i18n).bottom()
            }
        }
    },
    methods: {
        variantUpdated(status) {
            this.miniVariantStatus = status
        }
    }
}
</script>
