<template>
    <v-list-item class="sidebar-item" v-bind="attrs" router exact>
        <v-list-item-action>
            <v-icon>{{ item.icon }}</v-icon>
        </v-list-item-action>

        <v-list-item-content>
            <v-list-item-title v-text="item.title" />
        </v-list-item-content>
    </v-list-item>
</template>

<script>
export default {
    name: 'DefaultLayoutSidebarItem',
    props: {
        item: {
            type: Object,
            required: true
        }
    },
    computed: {
        attrs() {
            if (this.item.to) {
                return {to: this.item.to}
            }

            return {}
        }
    }
}
</script>

<style lang="scss" scoped>
.sidebar-item.v-list-item {
    color: #FFFFFF !important;

    &:before {
        content: none;
    }

    &.v-list-item--active {
        color: var(--v-secondary-base) !important;
    }

    .v-list-item__action:first-child {
        margin-right: 16px;
    }

    .v-list-item__title {
        font-size: 14px !important;
    }

    .v-icon {
        color: inherit !important;
    }
}
</style>
