<template>
    <v-list class="sidebar-items">
        <template v-for="(item, key) in items">
            <!-- WITH CHILDREN -->
            <div v-if="item.children.length" :key="key" class="w-100">
                <v-expansion-panels accordion>
                    <v-expansion-panel>
                        <v-expansion-panel-header>
                            <default-layout-sidebar-item :item="item" />
                        </v-expansion-panel-header>

                        <v-expansion-panel-content>
                            <v-list>
                                <default-layout-sidebar-item v-for="(value, index) in item.children" :key="index" :item="value" />
                            </v-list>
                        </v-expansion-panel-content>
                    </v-expansion-panel>
                </v-expansion-panels>
            </div>

            <!-- NO CHILDREN -->
            <default-layout-sidebar-item v-else :key="key" :item="item" />
        </template>
    </v-list>
</template>

<script>
import DefaultLayoutSidebarItem from './DefaultLayoutSidebarItem'

export default {
    name: 'DefaultLayoutSidebarItems',
    components: {DefaultLayoutSidebarItem},
    props: {
        items: {
            type: Array,
            required: true
        }
    }
}
</script>

<style lang="scss" scoped>
.sidebar-items {
    .sidebar-item.v-list-item {
        color: #FFFFFF !important;

        &:before {
            content: none;
        }

        &.v-list-item--active {
            color: var(--v-secondary-base) !important;
        }

        .v-list-item__action:first-child {
            margin-right: 16px;
        }

        .v-list-item__title {
            font-size: 14px !important;
        }

        .v-icon {
            color: inherit !important;
        }
    }

    .v-expansion-panels {
        .v-expansion-panel {
            background-color: transparent !important;

            &:before {
                box-shadow: none;
            }

            .v-expansion-panel-header {
                padding: 0 !important;
                padding-right: 16px !important;

                ::v-deep .v-icon {
                    color: #FFFFFF;
                }
            }

            ::v-deep .v-expansion-panel-content {
                .v-expansion-panel-content__wrap {
                    padding: 0 12px;
                }
            }
        }
    }
}
</style>
